*.o
*.d
__pycache__
csr.csv
analyzer.csv
/prog
build/

firmware/firmware.bin
firmware/firmware.elf
firmware/firmware.elf.map

.Xil/
.idea/
vivado.*
vivado_*

docs/_build/
docs/venv/
/software/

LimeSDR-Mini_lms7_trx_HW_1.2.map
LimeSDR-Mini_lms7_trx_HW_1.2.pof
LimeSDR-Mini_lms7_trx_HW_1.2.svf
*.rpd
!gateware/max10_onchipflash/max10_onchipflash_template.qsys
!gateware/max10_onchipflash/max10_onchipflash.py
gateware/max10_onchipflash/*