adapter driver ftdi
ftdi_vid_pid 0x0403 0x6010
ftdi_layout_init 0x0008 0x000b
adapter speed 1000

; set _CHIPNAME EP4CE40F23C8
set _CHIPNAME ep4ce40f23C8
jtag newtap $_CHIPNAME tap -irlen 10 -expected-id 0
reset_config none
